<!-- ** User larni boshqarish page hisoblanadi **
 -->
<%- include('includes/header') %>
<body>
<div>USERS PAGE</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <% users.map((value, key) => { %>
            <div class="col-md-4">
                <div class="card shadow-lg border-0 rounded-4">

                    <!-- Header -->
                    <div class="card-header bg-dark text-white text-center rounded-top-4">
                        <h5 class="mb-0">👤 User Profile</h5>
                    </div>

                    <!-- Body -->
                    <div class="card-body">
                        <h5 class="card-title fw-bold mb-3">
                            <i class="bi bi-person-circle"></i>
                            <%= value.memberNick %>
                        </h5>

                        <p class="mb-2">
                            📱 <strong>Phone:</strong> <%= value.memberPhone %>
                        </p>

                        <p class="mb-2">
                            ⭐ <strong>Points:</strong>
                            <span class="badge bg-success">
                        <%= value.memberPoints %>
                        </span>
                        </p>

                        <p class="mb-2">
                            🧩 <strong>Type:</strong>
                            <span class="badge bg-primary">
                            <%= value.memberType %>
                        </span>
                        </p>

                        <p class="mb-3">
                            🔒 <strong>Status:</strong>
                            <span class="badge bg-warning text-dark">  <%= value.memberStatus %></span>
                        </p>

                        <hr>

                        <small class="text-muted d-block">
                            📅 Created: <%= value.createdAt %>
                        </small>
                        <small class="text-muted">
                            ♻️ Updated: <%= value.updatedAt %>
                        </small>
                    </div>

                    <!-- Footer -->
                    <!--                <div class="card-footer bg-light text-center rounded-bottom-4">-->
                    <!--                    <button class="btn btn-outline-primary btn-sm">Edit</button>-->
                    <!--                    <button class="btn btn-outline-danger btn-sm ms-2">Delete</button>-->
                    <!--                </div>-->

                </div>
            </div>
        <% }) %>
    </div>
</div>
</body>

<%- include('includes/footer') %>
